/* search bar style */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
/* End of search bar style */

div.slideShow{
    background: yellow;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
  min-height: 900px;
  margin-bottom: 100px;
  clear: both;
}

.container{
 text-align: center; 
}

.sell_form{
  text-align: center; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

ul {
    list-style-type: none;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 60px;
}

.members-list {
    color:black;
}

.member-name a {
    color: black;
    display: block;
    /*padding: 20px;*/
    /*border: 1px solid black;*/
    /*margin-right: 5px;*/
}

a:hover {
    text-decoration: none;
    color: purple;
}

.navbar-brand {
    height: 100px;
    width: 100px;
    float: left;
    margin: 0px 0px 10px 0px;
    position:relative;
}

/* search result page style */
.product-filter {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
}
.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}
.product-card {
  flex: 1 16%;
}
.product-image img {
  max-width: 100%;
  max-width: 200px
}
.product-info {
  margin-top: auto;
}
/* end of search result page style */

/* product detail page style */
/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.mySlides {display:none;}
/* end of product detail page style */