</body>
<div class='footer'>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href = "/about" class="text-dark">About</a>
                <span class="text-muted mx-2">|</span> 
                <a href="#" class="text-dark">Policy&emsp;</a> 
            </div>
        </div>
    </footer>
</div>
</html>
