<!-- Footer has: copyright, About, Policy only!!! -->
<!-- DO NOT PUT OPENING <body> and <html> HERE!!! -->
    <style>
        .textcolor {
            color: #fff;
        }
    </style>

    <div>
    <footer id="main-footer" class="bg-dark">
        <div class=" textcolor col text-center">
            <p>Copyright © 2019</p>
            <a href = "/about" class='textcolor'>About</a>
            <span class="textcolor text-muted mx-2">|</span> 
            <a href="" class="textcolor">Policy</a> 
        </div>
    </footer>
    </div>
    
</body>
</html>