<!-- Header has: Navbar, Banner only!!! -->
<!DOCTYPE html>
<html lang='en'>
<head>

    <!-- Required TAGS HERE!!! -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SFSU Buy & Sell</title>

    <!-- BANNER HERE!!! -->
    <% include ./banner %>

    <!-- NAVBAR HERE!!! -->
    <% include ./navbar %>

    <!-- CSS -->
    <link rel='stylesheet' href='home.css'>
    <link rel='stylesheet' href='style.css'> 

    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>

    <!-- Font Awesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    
    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js'></script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</head>

<!-- DO NOT PUT CLOSING <html> HERE!! -->