<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SFSU Buy & Sell</title>

    <style>
    .navbar-nav{
        margin: 0px auto;
    }
    </style>

    <link rel='stylesheet' href='home.css'>
    <link rel=stylesheet href=style.css>
    <link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js></script>
        
    <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
            <div class="container-fluid">
                <a href='/'><img alt='logo' src='/csc648-logo.svg' width='50' height='50'></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                            <form>
                                    <select name='category'>
                                        <option value=''>All</option>
                                        <option value='electronics'>Electronics</option>
                                        <option value='books'>Books</option>
                                    </select>
                                    <input type='text' name='search' 
                                        value='' placeholder='Search here'
                                    >
                                    <button>Search</button>
                                </form>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a href="#" class="nav-item nav-link">Sell</a>
                        <a href="#" class="nav-item nav-link">Login</a>
                        <a href="#" class="nav-item nav-link">Register</a>
                    </div>
                </div>
            </div>    
        </nav>
    <title>SFSU Buy & Sell</title>
    <link rel='stylesheet' href='home.css'>
</head>
<body>