<!-- Header has: Navbar, Banner only!!! -->
<!DOCTYPE html>
<html lang='en'>

<head>
    <!-- MUST HAVE TAGS HERE!!! -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SFSU Buy & Sell</title>

    <!-- BANNER HERE!!! -->
    <% include ./banner %>

    <!-- NAVBAR HERE!!! -->
    <% include ./navbar %>

    <!-- <% include ../pages/css/sb-admin.css %> -->

    <!-- link CSS sb-admin HERE -->
    <link type='text/css' rel='text/css' href='../pages/css/sb-admin.css'>
    <link type='text/css' rel='text/css' href='../pages/css/sb-admin.min.css'>
    <link type='text/css' rel='stylesheet' href='../pages/css/chat-box.css'>

    <!-- 404 Page Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    
    <!-- CUSTOM CSS -->
    <link type='text/css' rel='stylesheet' href='home.css'>
    <link type='text/css' rel='stylesheet' href='style.css'> 

    <!-- Bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>


    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Font Awesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js'></script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- ZIHAO Styling -->
    <!-- Custom fonts for Login-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for Login template-->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom fonts for Forgot -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for Forgot -->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!-- End ZIHAO Styling -->

</head>

<!-- DO NOT PUT <body> TAGS and CLOSING <html> HERE!! -->