<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SFSU Buy & Sell</title>

    <p align="center">
        SFSU Software Engineering Project CSC 648-848 Section 1 Team 06 - FALL 2019
    </p>
