
<!-- Modal for Terms and Conditions in Register -->

<div class="modal fade" id="myLegal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">SFSU BUY & SELL</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Terms & Conditions</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Tempus imperdiet nulla malesuada pellentesque elit eget. Purus gravida quis blandit turpis cursus in. 
                Netus et malesuada fames ac turpis egestas sed tempus urna. Neque convallis a cras semper auctor neque vitae tempus. 
                Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. 
                Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. 
                Facilisis leo vel fringilla est ullamcorper. Nulla pellentesque dignissim enim sit amet. 
                Pretium aenean pharetra magna ac placerat. Massa tincidunt dui ut ornare lectus. 
                A arcu cursus vitae congue. Pulvinar neque laoreet suspendisse interdum consectetur. 
                Cras tincidunt lobortis feugiat vivamus at augue. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. 
                Vitae elementum curabitur vitae nunc sed velit. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. 
                Elit ut aliquam purus sit amet luctus venenatis lectus magna. Est lorem ipsum dolor sit amet consectetur adipiscing elit.
                Tortor condimentum lacinia quis vel eros donec. Sit amet justo donec enim diam. 
                Sed turpis tincidunt id aliquet risus feugiat in ante. 
                Porta lorem mollis aliquam ut porttitor leo a diam sollicitudin. 
                Integer enim neque volutpat ac tincidunt vitae semper. 
                Dui accumsan sit amet nulla facilisi morbi. 
                Porttitor lacus luctus accumsan tortor posuere ac. 
                Ornare quam viverra orci sagittis eu volutpat odio. 
                Neque ornare aenean euismod elementum nisi quis. 
                Pulvinar neque laoreet suspendisse interdum consectetur. 
                Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. 
                Tempus iaculis urna id volutpat lacus laoreet non curabitur. Eget arcu dictum varius duis. 
                Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Adipiscing elit ut aliquam purus sit amet luctus venenatis. 
                Et tortor consequat id porta nibh venenatis cras sed felis. Viverra orci sagittis eu volutpat odio facilisis mauris sit. 
                Purus faucibus ornare suspendisse sed nisi. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam. 
                Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
            </div>
        </div>
    </div>
</div>