<!-- Navbar: logo, search bar, login/register, sell -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark" id='main-nav'>
    <!-- Logo HOME btn -->
    <a href='/' class='navbar-brand'>
        <img alt='logo' src='/csc648-logo.svg' width='50' height='50'>
    </a>
        
    <!-- navbar collapse toggle btn -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        
    <!-- navbar items -->
    <div class='collapse navbar-collapse' id='navbarCollapse'>
        <!-- make search bar long -->
        <div class='d-none d-lg-inline w-100 pt-1 pt-3'>
            <%- include ./searchbar %>
        </div>
        
        <ul class='navbar-nav ml-auto'>
            <li class='nav-item'>
                <a class='nav-link' href='/about' style='color: white'>About</a>
            </li>
        
            <li class='nav-item'>
                <a class='nav-link' href='/sell' style='color: white'>Sell</a>
            </li>
        
            <li class='nav-item'>
                <a class='nav-link' href='/login' style='color: white'>Login</a>
            </li>
        
            <li class='nav-item'>
                <a class='nav-link' href='/register' style='color: white'>Register</a>
            </li>
        </ul>
    </div>
</nav>
