<div class='container' class='bg-dark'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='modal fade' id='policy'>
                <div class='modal-dialog modal-lg'>
                    <div class='modal-content'>
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalCenterTitle">SFSU Buy & Sell Policy</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class='modal-body'>
                            <h6>Our general expectations</h6>
                                weryqweiuryewqlruiywer
                                qweuyrwiueqyrweuqyrweu
                                qwieurqweiurwqeiurwqei
                                erhjwherljwqehrwljehrw
                                wqeiurwqioeruwqerqwerw
                                qwerqwerwqerwqerwerwqe
                                erwutyewrutysjdfhsjdee
                                ewuyrtlujkfhskjdghurti
                        </div>
                        <div class='modal-footer'>
                            <input class='btn btn-secondary' data-dismiss='modal' value='Close'></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>