<!-- Search Bar HERE!!! -->

<header id='search-section'>
    <form action="/searchProducts" method="post" enctype="multipart/form-data">
        <div class='search-inner px-3'>
            <div class='input-group mb-3'>
                <div class="input-group-prepend">
                    <select id="position" name="categoryName" class="form-control" style=" -webkit-appearance: none; 
                    -webkit-border-radius: 0px;height: 100%;">
                        <option selected disabled>All</option>
                        <option>Books</option>
                        <option>Furniture</option>
                        <option>Electronics</option>
                        <option>Clothing</option>
                        <option>Sports</option>
                        <option>Events</option>                                        
                    </select>
                </div>
                <!-- Maximum search word to 50 characters!!! -->
                <input type='text' name="search" id="search" class='form-control form-control-md' 
                        placeholder='Search here ...' maxlength="50" value=''
                />
                <span class='input-group-prepend'>
                    <button class='btn btn-primary' type='submit'>
                        <i class='fa fa-search' aria-hidden='true'></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</header>