<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manish Patil</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
<section class="name-section">
    <h1>Manish Patil</h1>
    <p>Hi! My name is Manish and I'm aspiring to be a full-stack web developer within the industry after my Masters Degree.</p>
</section>

<section class="questions-section">
    <h2>Where I'm From</h2>
    <p>I am from Mumbai, India.</p>

    <h2>What are your favorite hobbies?</h2>
    <p>I like to play any sport, listening music, Trekking, Painting, Sleeping.. </p>

    <h2>What's your dream company?</h2>
    <p>Startup, because we get to know the whole development lifecycle.</p>

    <h2>What grade are you in?</h2>
    <p>I'm a Grad student currently in my first semester here at SFSU.</p>

    <h2>Why do you want to be a web developer?</h2>
    <p>I have worked in the similar domain and want to explore more in web devlopment.</p>
</section>

<footer class="footer-section">
    <p>Let's Get Connected!</p>
    <ul class="social">
        <li><a href="https://github.com/manish1212" target="_blank">GitHub</a></li>
    </ul>
</footer>
</body>
</html>