<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zihao Wu</title>
    <link href="about.css" rel="stylesheet" type="text/css">
</head>
<body>
<section class="name-section">
    <h1>Zihao</h1>
    <p>Hello everyone! My name is Zihao. I am a SFSU CS student who is focusing more on frontend development.</p>
</section>
<section class="questions-section">
    <h2>Where I’m From</h2>
    <p>I am an immigrant from China since 2012.</p>
    <h2>What are your favorite hobbies?</h2>
    <p>Not much, making money I guess.</p>
    <h2>What’s your dream company?</h2>
    <p>Sony</p>
    <h2>What grade are you in?</h2>
    <p>Senior</p>
    <h2>Why do you want to be a web developer?</h2>
    <p>So that I can share my experience to everyone.</p>
</section>
<footer class="footer-section">
    <p>Let’s Get Connected!</p>
    <ul class="social?">
        <li><a href="https://github.com/960399552" target="_blank">GitHub</a></li>
    </ul>
</footer>
</body>
</html>