<!DOCTYPE html>
<html>
<head>
    <!-- bootstrap url: https://startbootstrap.com/snippets/navbar-logo/-->
    <meta charset=utf-8>
    <title>SFSU Buy&Sell</title>
    <link rel=icon href=../public/favicon.ico>
    <meta name=viewport content=width=device-width, initial-scale=1>
    <link rel=stylesheet href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css>
    <link rel=stylesheet href=style.css>
    <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js></script>
</head>
<body>
<!-- Navigation -->
<nav class=navbar navbar-expand-lg navbar-dark bg-dark static-top>
    <div class=container>
        <a class=navbar-brand href=#>

            <img src=csc648-logo.svg alt=logo>

        </a>
    </div>
</nav>
<!-- Page Content -->
<div class=container>
    <h1 class=mt-4>SFSU CSC648</h1>
    <h2>Fall 2019 - Section 01</h2>
    <h3>Team 6</h3>
    <ul class=members-list>
        <li class=member-name>
            <a href="/aboutTT">Thomas Tran</a>
        </li>
        <li class=member-name>
            <a href="/aboutPB">Poulomi Banerjee</a>
        </li>
        <li class=member-name>
            <a href="/aboutMP">Manish Patil</a>
        </li>
        <li class=member-name>
            <a href=/aboutJH>Jinan Huang</a>
        </li>

        <li class=member-name>
            <a href=/aboutZW>Zihao Wu</a>

        </li>
        <li class=member-name>
            <a href=/aboutPT>Phuong Tran</a>
        </li>
    </ul>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name="myImage" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
<!-- /.container -->
</body>
</html>