<% include ../partials/header %>
    <a href='/'><img alt='logo' src='/csc648-logo.svg' width='50' height='50'></a>
    <h1>Team members</h1>
    <div class='container'>
        <ul class='members-list'>
            <li class='member-name'>
                <a href="/aboutTT" target="_blank">Thomas Tran</a>
            </li>
            <li class='member-name'>
                <a href="/aboutPB" target="_blank">Poulomi Banerjee</a>
            </li>
            <li class='member-name'>
                <a href="/aboutMP" target="_blank">Manish Patil</a>
            </li>
            <li class='member-name'>
                <a href="/aboutJH" target="_blank">Jinan Huang</a>
            </li>
    
            <li class='member-name'>
                <a href="/aboutZW" target="_blank">Zihao Wu</a>
    
            </li>
            <li class='member-name'>
                <a href="/aboutPT" target="_blank">Phuong Tran</a>
            </li>
        </ul>
    </div>
<% include ../partials/footer %>