<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<!-- Start with the Body Here -->

<style>
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
.tablink:hover {
  background-color: #777;
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
#Brought {background-color: black;}
#Selling {background-color: black;}
#Sold {background-color: black;}
#Contact {background-color: Black;}
body{background-color:#6a1b9a}
button.accordion{
  cursor:pointer;
  border:none;
  outline:none;
  width:100%;
  text-align:left;
  background-color:transparent;
  color:#fff;
  padding:8px;
  margin:4px 0;
  border-radius:4px;
  transition:0.3s;
}
button.accordion:hover{
  background-color:rgba(255,255,255,0.3);
}
button.accordion.active{
  background-color:#fff;
  color:#000;
  border-radius:4px 4px 0 0;
  margin:4px 0 0;
 }
div.panel{
  background-color:rgba(255,255,255,0.8);
  color:#000;
  border-radius:0 0 4px 4px;
  overflow:hidden;
  opacity:0;
  max-height:0;
  transition:0.3s;
  padding:0 8px;
  margin:0;
}
div.panel.show{
  opacity:1;
  max-height:500px;
  padding:8px;
  margin:2px 0 4px;
}
</style>

 <div class='container-fluid'> 
    <button class="tablink" onclick="openPage('Brought', this, 'green')">Brought Products</button>
    <button class="tablink" onclick="openPage('Selling', this, 'green')" id="defaultOpen">Selling Products</button>
    <button class="tablink" onclick="openPage('Sold', this, 'green')">Sold Products</button>
    <button class="tablink" onclick="openPage('Contact', this, 'green')">Message Box</button>
    
    
    <div id="Brought" class="tabcontent">
        
        <h3>History for proudct brought</h3>
        
                <table style="width:100%">
        
                    <tr>
                    <td><img src=""width="50" height="50"></td>
                    <th><h5>product title</h5></th>
                    <th><h5>product price</h5></th>
                    <th><h5>product brought date</h5></th>
                    </tr>
    
                </table>
    </div>
    
    
    <div id="Selling" class="tabcontent">
    
        <h3>Current user selling product</h3>
        
                <table style="width:100%">
        
                    <tr>
                    <td><img src=""width="50" height="50"></td>
                    <th><h5>product title</h5></th>
                    <th><h5>product price</h5></th>
                        <th><h5>product brought date</h5></th>
                    </tr>
    
                </table>
    </div>
    
    
    <div id="Sold" class="tabcontent">
    
        <h3>History for proudct sold</h3>
    
                <table style="width:100%">
        
                    <tr>
                    <td><img src=""width="50" height="50"></td>
                    <th><h5>product title</h5></th>
                    <th><h5>product price</h5></th>
                    <th><h5>product brought date</h5></th>
                    </tr>
    
                </table>
    
    </div>
    
    <div id="Contact" class="tabcontent">
        <h3>rows with only title and date and when you click that row it expanse and you can see the message and there’s a reply box under it</h3>
        
        <button class="accordion">
        Product Title and date
    </button>
    <div class="panel">
    <p>should be chat content for both user and type content box with send button next to it</p>
    <textarea rows="5" cols="100" name="description"> </textarea><br>
    <a class="btn btn-primary btn-block" href="">Send</a>
    </div>
          
    </div>
        
    <script>
        function openPage(pageName,elmnt,color) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
          }
          document.getElementById(pageName).style.display = "block";
          elmnt.style.backgroundColor = color;
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        
        var accordions = document.querySelectorAll("button.accordion");
        
        for (var i = 0; i < accordions.length; i++) {
          accordions[i].onclick = function() {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
          };
        }
        
    </script>
</div>


<!-- DO NOT PUT </body> TAG HERE!!! -->

<!-- import Footer HERE!!! -->
<% include ../partials/footer %>