<% include ../partials/header %>

<% include ../partials/mapModal %>

<style>
    .sell_form {
        text-align: center;
    }
    textarea {
        width: 100%;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
    }
</style>

<div class="container">

    <% if (message != '') { %>
    <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Sell Product</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input class="form-control" type="text" id="title" placeholder="Title" required="required" autofocus="autofocus">
                                <label for="title">Title</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="categoryId" id="categoryId" placeholder="Please Select the Category" required>
                    </div>
                </div> -->



                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input class="form-control" type="text" id="price" placeholder="Price" required="required" autofocus="autofocus">
                                <label for="price">Price</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <select id="location" name="location" class="form-control" required>
                                    <option selected disabled>Choose Location</option>
                                    <option>Library</option>
                                    <option>Thornton Hall</option>
                                    <option>Student Service Building</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">

                            <select id="category" name="categoryName" class="form-control" required>
                                <option selected disabled>Choose category</option>
                                <option>Books</option>
                                <option>Furniture</option>
                                <option>Electronics</option>
                                <option>Clothing</option>
                                <option>Sports</option>
                                <option>Events</option>
                            </select>

                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <textarea name="description" id="description" placeholder="Enter the product description" required></textarea>
                        </div>
                    </div>
                </div>

                <p>(Click on map to enlarge)</p>
                <a href="#" data-toggle="modal" data-target="#mapImg">
                    <img src='/map.png' width="345" height="223" >
                </a>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Upload Image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <p style='text-align: center; color: red'>Please allow up to 24 hours for your listing to be listed.</p>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="reset" class="btn btn-secondary float-left">Reset</button>
                            <button type="submit" class="btn btn-primary float-right">Add Product</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>
