<% include ../partials/header %>

<style>
    .sell_form {
        text-align: center;
    }

</style>

<body>
        <div class="container">
                <% if (message != '') { %>
                    <p class="text-center text-danger"><%= message %></p>
                <% } %>
                <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="title" id="title" placeholder="Title of Product" required>
                        </div>                
                    </div>
                    <!-- <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="categoryId" id="categoryId" placeholder="Please Select the Category" required>
                        </div>
                    </div> -->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="description" id="description" placeholder="description" required>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control" name="price" id="price" placeholder="price" required>
                        </div>              
                     
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="location" id="location" placeholder="location" required>
                            </div>              
                         
                        </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                                    <select id="position" name="categoryName" class="form-control" required>
                                        <option selected disabled>Choose category</option>
                                        <option>Books</option>
                                        <option>Furniture</option>
                                        <option>Electronics</option>
                                        <option>Clothing</option>
                                        <option>Sports</option>
                                    </select>
                        </div>
                    </div>
                    <div class="form-row">
                            <div class="col-md-12">
                                    <label for="image"><b>Product Image</b></label><br>
                                    <input type="file" name="image" id="image" class="" required>
                            </div>
                    </div>
                    <div class="form-row"></div>
                    <div class="form-row">
                            <button type="submit" class="btn btn-primary float-right">Add Product</button>
                    </div>
                   
                </form>
            </div>
</body>

<% include ../partials/footer %>