<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>
<<<<<<< HEAD

<body>
    <%# 
    <div class="container">            
            <div class="slideShow">
                    <div class="col">
                <h1>Picture slide show</h1>
                <p><a href="" target="_blank" class="btn btn-success btn-lg">View detail</a></p>
                    </div>
            </div>
        </div>%>
            
        <div class="container"> 
            <div class="row">
                <div class="col">
                    <h2>categories1</h2>
                    <img src=""width="300" height="200">
                    <p>Picture gallory and some text</p>
                    <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
                </div>
                <div class="col">
                    <h2>categories2</h2>
                    <img src=""width="300" height="200">
                    <p>Picture gallory and some text</p>
                    <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
                </div>
                <div class="col">
                    <h2>categories3</h2>
                    <img src=""width="300" height="200">
                    <p>Picture gallory and some text</p>
                    <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
                </div>
            </div>
        </div>
       
        <div class="container"> 
            <div class="row">
                <div class="col">
                    <h2>categories4</h2>
                    <img src=""width="300" height="200">
                    <p>Picture gallory and some text</p>
                    <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
                </div>
                <div class="col">
                    <h2>categories5</h2>
                    <img src=""width="300" height="200">
                    <p>Picture gallory and some text</p>
                    <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
                </div>
                <div class="col">
                    <h2>categories6</h2>
                    <img src=""width="300" height="200">
                    <p>Picture gallory and some text</p>
                    <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
                </div>
            </div>
        </div>
</body>
    
<% include ../partials/footer %>
=======
<body>
                            
    <div class="container"> 
        <div class="row">
            <div class="col">
                <a href="/searchCategory/Books">
                <h2>Books</h2>
                <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
            </a>
            </div>
            <div class="col">
                    <a href="/searchCategory/Clothing">
                <h2>Clothes</h2>
                <img src="https://media.gettyimages.com/photos/colorful-tshirt-compose-with-white-background-picture-id1074767622?s=2048x2048"width="300" height="200">
            </a>
            </div>
            <div class="col">
                    <a href="/searchCategory/Furniture">
                <h2>Furniture</h2>
                <img src="https://media.gettyimages.com/photos/january-2019-saxonyanhalt-magdeburg-a-sofa-and-a-standard-lamp-in-the-picture-id1135749584?s=2048x2048"width="300" height="200">
                    </a>
                    <p></p>
            </div>
        </div>
    </div>
                       
    <div class="container"> 
        <div class="row">
            <div class="col">
                    <a href="/searchCategory/Electronics">
                <h2>Electronics</h2>
                <img src="https://media.gettyimages.com/photos/view-form-above-headphones-smart-phone-digital-camera-and-office-on-picture-id1158243399?s=2048x2048"width="300" height="200">
                </a>
                <p></p>
            </div>
            <div class="col">
                    <a href="/searchCategory/Sports">
                <h2>Sport Gears</h2>
                <img src="https://media.gettyimages.com/photos/sports-balls-on-the-field-with-yard-line-soccer-ball-american-and-picture-id942206100?s=2048x2048"width="300" height="200">
                </a>
                <p></p>
            </div>
            <div class="col">
                    <a href="/searchCategory/Events">
                <h2>Event Tickets</h2>
                <img src="https://media.gettyimages.com/photos/in-this-photo-illustration-rail-tickets-are-pictured-in-a-ticket-at-picture-id1066726018?s=2048x2048" width="300" height="200">
                    </a>
                    <p></p>
            </div>
        </div>
    </div>

<!-- DO NOT PUT </body> TAG HERE!!! -->

<!-- import Footer HERE!!! -->
<% include ../partials/footer %>
>>>>>>> origin/master
