<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<!-- Start with the Body Here -->
<body>
                            
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h2>Books</h2>
                <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
                <p>See more Book deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Clothes</h2>
                <img src="https://media.gettyimages.com/photos/colorful-tshirt-compose-with-white-background-picture-id1074767622?s=2048x2048"width="300" height="200">
                <p>See more Clothes deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Furniture</h2>
                <img src="https://media.gettyimages.com/photos/january-2019-saxonyanhalt-magdeburg-a-sofa-and-a-standard-lamp-in-the-picture-id1135749584?s=2048x2048"width="300" height="200">
                <p>See more Furniture deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
        </div>
    </div>
                       
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h2>Electronics</h2>
                <img src="https://media.gettyimages.com/photos/view-form-above-headphones-smart-phone-digital-camera-and-office-on-picture-id1158243399?s=2048x2048"width="300" height="200">
                <p>See more Electronics deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Sport Gears</h2>
                <img src="https://media.gettyimages.com/photos/sports-balls-on-the-field-with-yard-line-soccer-ball-american-and-picture-id942206100?s=2048x2048"width="300" height="200">
                <p>See more Sport Gear deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Event Tickets</h2>
                <img src="https://media.gettyimages.com/photos/in-this-photo-illustration-rail-tickets-are-pictured-in-a-ticket-at-picture-id1066726018?s=2048x2048" width="300" height="200">
                <p>See more Event Pass deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
        </div>
    </div>

<!-- DO NOT PUT </body> TAG HERE!!! -->

<!-- import Footer HERE!!! -->
<% include ../partials/footer %>
