<% include ../partials/header %>
    <p>SFSU CSC648 - TEAM 06</p>
    <p>Fall 2019 - Section 01</p>
    <p>Team 6</p>
    <!-- <div>
        <span>
            <select>
              <option>All</option>
              <option>Electronics</option>
              <option>Books</option>
            </select>
        </span>
        <input placeholder='Search here'></input>
        <span><button>Submit</button></span>
    </div> -->

    <div id='result'>
    
    </div>
<% include ../partials/footer %>