<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<!-- Start with the Body Here -->
<body>
                            
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h2>Books</h2>
                <img src='' width="300" height="200">
                <p>Picture gallory and some text</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Clothes</h2>
                <img src=""width="300" height="200">
                <p>Picture gallory and some text</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Furniture</h2>
                <img src=""width="300" height="200">
                <p>Picture gallory and some text</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
        </div>
    </div>
                       
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h2>Electronics</h2>
                <img src=""width="300" height="200">
                <p>Picture gallory and some text</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Sport Gears</h2>
                <img src=""width="300" height="200">
                <p>Picture gallory and some text</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Event Tickets</h2>
                <img src=""width="300" height="200">
                <p>Picture gallory and some text</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
        </div>
    </div>

<!-- DO NOT PUT </body> TAG HERE!!! -->

<!-- import Footer HERE!!! -->
<% include ../partials/footer %>