<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<!-- Start with the Body Here -->
<body>
                            
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h2>Books</h2>
                <img src='https://spectator.imgix.net/content/uploads/2019/09/Anthony-Quinn.jpg?auto=compress,enhance,format&crop=faces,entropy,edges&fit=crop&w=820&h=550' width="300" height="200">
                <p>See more Book deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Clothes</h2>
                <img src="https://cdn.shopify.com/s/files/1/0028/2525/7027/files/2019Aug-Sustainable-Wardrobe-Banner_1024x.jpg?v=1567105571"width="300" height="200">
                <p>See more Clothes deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Furniture</h2>
                <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-e3ce/k2-_8a66db1a-b48a-4152-b36b-1cfe5a3385cd.v1.jpg"width="300" height="200">
                <p>See more Furniture deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
        </div>
    </div>
                       
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h2>Electronics</h2>
                <img src="http://www.pindigit.com/wp-content/uploads/2014/11/Festive-season-Amazing-deals-Gadgets-Electronics.jpg"width="300" height="200">
                <p>See more Electronics deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Sport Gears</h2>
                <img src="https://sportzia.com/wp-content/uploads/2018/10/Sports-Gear.jpg"width="300" height="200">
                <p>See more Sport Gear deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
            <div class="col">
                <h2>Event Tickets</h2>
                <img src="https://cdn.firespring.com/images/46e36a4b-4efe-496b-a328-67ddc0a16cc5.png?w=500&token=ca2868cf3394cc537fb120b8b20ed156"width="300" height="200">
                <p>See more Event Pass deals</p>
                <p><a href="" target="_blank" class="btn btn-success">Shop</a></p>
            </div>
        </div>
    </div>

<!-- DO NOT PUT </body> TAG HERE!!! -->

<!-- import Footer HERE!!! -->
<% include ../partials/footer %>
