<% include ../partials/header %>
<<<<<<< HEAD
=======
    <a href='/'><img alt='logo' src='/csc648-logo.svg' width='50' height='50'></a>
>>>>>>> 3c8b146bdbebb751f8be78c8fe2ea4ba59383809
    <p>SFSU CSC648 - TEAM 06</p>
    <p>Fall 2019 - Section 01</p>
    <p>Team 6</p>
    <!-- <div>
        <span>
            <select>
              <option>All</option>
              <option>Electronics</option>
              <option>Books</option>
            </select>
        </span>
        <input placeholder='Search here'></input>
        <span><button>Submit</button></span>
    </div> -->
<<<<<<< HEAD

    <div id='result'>
    
    </div>
=======
    <form>
        <select name='category'>
            <option value=''>All</option>
            <option value='electronics'>Electronics</option>
            <option value='books'>Books</option>
        </select>
        <input type='text' name='search' 
            value='' placeholder='Search here'
        >
        <button>Search</button>
    </form>
    <div id='result'>
    
    </div>
    <div class='footer'>
        <footer><a href='/about'>About</a></footer>
    </div>
>>>>>>> 3c8b146bdbebb751f8be78c8fe2ea4ba59383809
<% include ../partials/footer %>