<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 15px;
        /* display: flex; */
    }
    /* Columns */
    .left-column {
        width: 65%;
        position: relative;
    }
    .right-column {
        width: 35%;
        margin-top: 60px;
    }
    /* Left Column */
    .left-column img {
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.3s ease;
    }
    .left-column img.active {
        opacity: 1;
    }
    /* Product Description */
    .product-description {
        border-bottom: 1px solid #E1E8EE;
        margin-bottom: 20px;
    }
    .product-description span {
        font-size: 12px;
        color: #358ED7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .product-description h1 {
        font-weight: 300;
        font-size: 52px;
        color: #43484D;
        letter-spacing: -2px;
    }
    .product-description p {
        font-size: 16px;
        font-weight: 300;
        color: #86939E;
        line-height: 24px;
    }
    /* Responsive */
    @media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }
    .left-column,
    .right-column {
        width: 100%;
    }
    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
    }
    @media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
    }
    .mySlides {
        display:none;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href='/listing'>Category</a></li>
        <li class="breadcrumb-item active" aria-current="page">Item</li>
    </ol>
</nav>

<div class='container'>
   <!-- Left Column  -->
    <div class="left-column">
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
              
    <script>
        var slideIndex = 1;
            showDivs(slideIndex);
            
            function plusDivs(n) {
                showDivs(slideIndex += n);
            }
            
            function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
        }
    </script>
               
        
    <!-- Right Column(product info) -->
    <div class="right-column">
        <!-- Product Description -->
        <div class="product-description">
            <span>Category</span>
            <h1>Item Title</h1>
            <h5>Item Description</h5>
        </div>
        
        <!-- Product Pricing -->
        <div class="product-price">
            $<span>Price</span>
        </div>
        <a href="#">Contact seller</a>
    </div>

    
<!-- import Footer HERE!!! -->
<%- include ../partials/footer %>