<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- Backend please plug in Product Category HERE!!! -->
    <li class="breadcrumb-item"><a href="/listing">Category</a></li>
  </ol>
</nav>

<!-- Listing Content HERE!!! -->

<div class="container">
  <div class="row">

    <!-- Filter on Left Grid-->
    <div class="col-md-4">
      <div class="card">
        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title" style='font-weight: bold;'>Location </h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
            <form>
              <label class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <span class="form-check-label">
                  Thorton Hall
                </span>
              </label> <!-- form-check.// -->
              <label class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <span class="form-check-label">
                  Hensill Hall
                </span>
              </label>  <!-- form-check.// -->
              <label class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <span class="form-check-label">
                  Library
                </span>
              </label>  <!-- form-check.// -->
            </form>
            </div> <!-- card-body.// -->
          </div>
        </article> <!-- end card-group-item.// -->
        
        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title" style='font-weight: bold;'>Price Range</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
            <label class="form-check">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label">
                Below $100
              </span>
            </label>
            <label class="form-check">
                <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label">
                $100 - $200
              </span>
            </label>
            <label class="form-check">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label">
                $200 - $500
              </span>
            </label>
            <label class="form-check">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label">
                Above $500
              </span>
            </label>
            </div> <!-- card-body.// -->
          </div>
        </article> <!-- end card-group-item.// -->
      </div> <!-- card.// -->
    </div> 
    <!-- end left grid -->

    <!-- Listing on Right Grid -->
    <div class='col-md-8'>
      <br>
      <h5>1- of results</h5>
      <br>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
        <button><a href='/items' target='_blank'>Item 1</a></button>
      </div>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
      </div>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
      </div>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
      </div>
    </div> 
    <!-- end right grid -->

  </div> <!-- end row -->
</div> <!--end container -->


<!-- import Footer HERE!!! -->
<% include ../partials/footer %>