<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- Backend please plug in Product Category HERE!!! -->
    <li class="breadcrumb-item"><a href="/listing">Category</a></li>
  </ol>
</nav>

<div class="container-fluid">
  <p>1 of results</p>

  <!-- FILTER  -->
  <div class="collection-sort">
      <label>Sort by:</label>
      <select>
          <option value="/">None</option>
          <option value="/low">Price: low to high</option>
          <option value="/high">Price: high to low</option>
      </select>
  </div>

  <!-- LISTING -->
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
      <button><a href='/items'>Details</a></button>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="/items">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        <button><a href='/items'>Details</a></button>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="/items">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        <button><a href='/items'>Details</a></button>
      </a>
    </div>
    
  </div> <!-- end row -->
</div> <!--end container -->


<!-- import Footer HERE!!! -->
<% include ../partials/footer %>