<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!-- Backend please plug in Product Category HERE!!! -->
    <li class="breadcrumb-item"><a href="/listing">Category</a></li>
  </ol>
</nav>

<div style="padding-left:485px;">
  <h4>Provide platform for SFSU students to Buy and Sell</h4>
</div>

<div class="row ">

  <!-- Left Grid HERE!! -->
  <div class="col-sm-6 col-md-4 col-lg-3 pt-2" style='padding-left: 30px;'>
    Filter on left
  </div>
  <!-- END Left Grid!! -->
  
  <!-- Right Grid HERE!! -->
  <div class="col-sm-6 col-md-8 col-lg-9">
    <br>
    <h5>1- of results</h5>
    <br>
    
    <div class='row'>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
        <button><a href='/items' target='_blank'>Item 1</a></button>
      </div>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
      </div>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
      </div>
      <div class='col'>
        <img src="https://media.gettyimages.com/photos/files-picture-id1081261274?s=2048x2048" width="300" height="200">
      </div>
    </div>
    <!-- END Right Grid!! -->
  </div>

<!-- import Footer HERE!!! -->
<% include ../partials/footer %>