<% include ../partials/header %>
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style> <% include ./css/sb-admin.css %>? </style> 
<body>
<main class="container">
 
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
  <img class="mySlides" src="https://static.coindesk.com/wp-content/uploads/2014/01/apple-bitcoin.jpeg">
  <img class="mySlides" src="https://clipart.info/images/ccovers/15036889136-2-apple-fruit-free-png-image.png">
  <img class="mySlides" src="http://bluecure.org/wp-content/uploads/2016/03/apples-prostate-cancer-curing-foods.jpg">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
 
 
  <!-- Right Column(product info) -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>Iphone</span>
      <h1>Iphone 8</h1>
      <p>Descrition of the product Descrition of the product Descrition of the product Descrition of the product Descrition of the product Descrition of the product Descrition of the product</p>
    </div>
    
        <a href="#">Contact seller</a>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>148$</span>
      <a href="#" class="cart-btn">
      Buy</a>
    </div>
  </div>
</main>

</body>
</html>


<% include ../partials/footer %>