<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<!-- include forgotPasswordModal HERE!! -->
<%- include ../partials/forgotPasswordModal %>

<!-- include legalModal HERE!! -->
<% include ../partials/legalModal %>
    

<body>
    <div class="container">
        <div class="card card-register mx-auto mt-4">
            <div class="card-header"><h5>Register an Account</h5></div>
            <div class="card-body">
                <form method='' action='/'>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        value=''
                                        required 
                                    />
                                    <label for="firstName">First Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input 
                                        class="form-control" 
                                        type="text"
                                        value=''
                                        required
                                    />
                                    <label for="lastName">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input 
                                        class="form-control" 
                                        type="email" 
                                        required
                                    />
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input 
                                        class="form-control" 
                                        type="password" 
                                        required
                                    />
                                <label for="password">Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input 
                                        class="form-control" 
                                        type="password" 
                                        required
                                    />
                                    <label for="confirmPassword">Confirm Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="g-recaptcha" data-sitekey="6LdApK0UAAAAAIxw-iB6-Blb8du4qTaXpqOgFKZ4"></div>
                            </div>
                            <div class="form-check" style='padding-left: 25px; padding-top:10px'>
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                Agree to <a href='#' data-toggle="modal" data-target="#myLegal">terms & conditions</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <input
                                    type="submit"
                                    value="Submit"
                                    class="btn btn-primary btn-block"
                                />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="login">Login Page</a>
                    <a class="d-block small" href="#" data-toggle="modal" data-target="#forgotPassword">Forgot Password?</a>
                </div>
             </div>
        </div>
    </div>

    <div class="g-recaptcha" data-sitekey="6LdApK0UAAAAAIxw-iB6-Blb8du4qTaXpqOgFKZ4">
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </div>
    
<!-- DO NOT PUT </body> TAG HERE!!! -->
<!-- import Footer HERE!!! -->
<% include ../partials/footer %>
