<% include ../partials/header %>
<!DOCTYPE html>
<html>
<body>
<nav class="product-filter">

  <h1>Electronic</h1>

  <div class="sort">

    <div class="collection-sort">
      <label>Filter by:</label>
      <select>
        <option value="/">All Electonics</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
        <option value="/">Price: low to high</option>
        <option value="/">Price: high ti low</option>
      </select>
    </div>
  </div>
</nav>

<section class="products">

  <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

  <div class="product-card">
    <div class="product-image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjfOkzF2qLLp8V0DpokUVfJgZlKlanEqJybWNnAbEV5KQj9GzS&s">
    </div>
    <div class="product-info">
      <h5>Apple phone</h5>
      <h6>$99.99</h6>
    </div>
  </div>

  <div class="product-card">
    <div class="product-image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjfOkzF2qLLp8V0DpokUVfJgZlKlanEqJybWNnAbEV5KQj9GzS&s">
    </div>
    <div class="product-info">
      <h5>Apple phone</h5>
      <h6>$99.99</h6>
    </div>
  </div>
  
    <div class="product-card">
    <div class="product-image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjfOkzF2qLLp8V0DpokUVfJgZlKlanEqJybWNnAbEV5KQj9GzS&s">
    </div>
    <div class="product-info">
      <h5>Apple phone</h5>
      <h6>$99.99</h6>
    </div>
  </div>
      
      <div class="product-card">
    <div class="product-image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjfOkzF2qLLp8V0DpokUVfJgZlKlanEqJybWNnAbEV5KQj9GzS&s">
    </div>
    <div class="product-info">
      <h5>Apple phone</h5>
      <h6>$99.99</h6>

  <!-- more products -->

</section>
</body>
</html>

<% include ../partials/footer %>