<!-- import Header includes Navbar, Banner Here!!! -->
<% include ../partials/header %>

<body>
    <nav class="product-filter">
    <h1>Books</h1>
    <div class="collection-sort">
        <label>Sort by:</label>
        <select>
            <option value="/">None</option>
            <option value="/low">Price: low to high</option>
            <option value="/high">Price: high to low</option>
        </select>
    </div>
    </nav>
    <section class="products">
    <div class="product-card">
        <div class="product-image">
            <img src=""width="200" height="200">
        </div>
        <div class="product-info">
            <h5>product title</h5>
            <h6>product price</h6>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img src=""width="200" height="200">
        </div>
        <div class="product-info">
           <h5>product title</h5>
           <h6>product price</h6>
        </div>
    </div>
     <!-- more products -->
    </section>

<!-- DO NOT PUT </body> TAG HERE!!! -->

<!-- import Footer HERE!!! -->
<% include ../partials/footer %>