<% include ../partials/header %>
<body>
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Sell</div>
            <div class="card-body">
                <form>
                    <div class="form-group mandatory-field">
                        Please choose your product categories:
                        <select name="dropdown">
                            <option selected disabled>Choose category</option>
                            <option value='books'>Books</option>
                            <option value='clothes'>Clothes</option>
                            <option value='furnitures'>Furnitures</option>
                            <option value='electronics'>Electronics</option>
                            <option value='sports'>Sports</option>
                            <option value='events'>Events</option>   
                        </select>
                    </div>
                    <div class="form-group mandatory-field">
                        Description : <br />
                        <textarea rows="5" cols="50" name="description" placeholder="Enter description here..."></textarea>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-label-group mandatory-field">
                                    Price : <br><input type="number" name="" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-label-group mandatory-field">
                                    Title of your procuct: <input type="text" name="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <p class='mandatory-field'>Please select your transfer location: </p>
                        <select name="dropdown">
                            <option value="library" selected>Library</option>
                            <option value="hensil-hall">Hensil Hall</option>
                            <option value="thorton-hall">Thorton Hall</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p class='mandatory-field'>Choose File to upload product image:</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <p style="text-align: center">Please allow 24 hours for your listing to get uploaded.</p>
                    <div class="form-group">
                        <a class="btn btn-primary btn-block" href="/">Submit</a>
                        <input class="btn btn-secondary btn-block" type="reset" name="reset" value="Reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<% include ../partials/footer %>