<% include ../partials/header %>

<style>
    .sell_form {
        text-align: center;
    }
</style>

<div class="sell_form"> 
    <form>

        Please choose your product categories
        <select name = "dropdown">
                <option value=''>None</option>
                <option value='books'>Books</option>
                <option value='clothes'>Clothes</option>
                <option value='furnitures'>Furnitures</option>
                <option value='electronics'>Electronics</option>
                <option value='sports'>Sports</option>
                <option value='events'>Events</option>
        </select>

        <br>
        <br>

        Description : 
        <br>

        <textarea rows = "5" cols = "50" name = "description">
            Enter description here...
        </textarea>

        <br>
        <br>

        Price : 
        <input 
            type = "number" 
            name = "" 
        />

        <br>
        <br>

        Title of your procuct: 
        <input 
            type = "text" 
            name = "" 
        />

        <br>
        <br>

        Please select your transfer location
        <select name = "dropdown">
            <option value="" selected>Library</option>
            <option value="">Hensill Hall</option>
            <option value="">Thorton Hall</option>
        </select>

        <br>
        <br>

        Choose File to upload product image
        <br>

        <input 
            type = "file" 
            name = "fileupload" 
            accept = "image/*" 
        />
        
        <br>
        <br>
        <br>

        <input
            type = "submit" 
            name = "submit" 
            value = "Submit" 
        />

        <input 
            type = "reset" 
            name = "reset"  
            value = "Reset" 
        />

    </form>
</div>

<% include ../partials/footer %>