   <% include ../partials/header %>

   <body>
       <div class="container">

           <div class="col-6">
               <div class="card card-register mx-auto mt-5">
                   <div class="card-header">Seller page</div>
                   <div class="card-body">
                       <form>
                           <div class="form-group col-md-12">
                               <p>Please enter the title of the product: </p>
                               <input type="text" class="form-control" name="title" id="title" placeholder="Title of Product" required>
                           </div>

                           <div class="form-group col-md-12">
                               <p>Please choose the category of the product: </p>
                               <select id="position" name="categoryName" class="form-control" required>
                                   <option selected disabled>Choose category</option>
                                   <option>Books</option>
                                   <option>Furniture</option>
                                   <option>Electronics</option>
                                   <option>Clothing</option>
                                   <option>Sports</option>
                                   <option>Events</option>
                               </select>
                           </div>

                           <div class="form-group col-md-12">
                               <p>Description : </p>
                               <textarea rows="5" cols="65" name="description" placeholder="Enter description here..."></textarea>
                           </div>

                           <div class="form-group col-md-12">
                               <p> Price: </p>
                               <input type="number" class="form-control" name="price" id="price" placeholder="Price" required>
                           </div>

                           <div class="form-group col-md-12">
                               <p>Please select your transfer location: </p>
                               <select id="location" name="location" class="form-control" required>
                                   <option selected disabled>Choose Location</option>
                                   <option>Library</option>
                                   <option>Thornton Hall</option>
                                   <option>Student Service Building</option>
                               </select>
                                  <br>
                                   <img src="../../public/map.png" width="345" height="223">
                           </div>

                           <div class="form-group col-md-12">
                               <p>Choose File to upload product image:</p>
                               <div class="input-group mb-3">
                                   <div class="input-group-prepend">
                                       <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                   </div>
                                   <div class="custom-file">
                                       <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                       <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                   </div>
                               </div>
                           </div>

                           <div class="form-group ">
                               <div class="col-md-10">
                                   <button type="button" class="btn btn-secondary btn-md" type="reset">reset </button>
                               </div>
                               <div class="col-md-2">
                                   <button type="button" class="btn btn-primary btn-md" type="submit">submit</button>
                               </div>
                           </div>

                       </form>

                   </div>
               </div>
           </div>
       </div>
   </body>
   <% include ../partials/footer %>
